@using System.Globalization
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<MessageBox @ref="MessageBox" />

<form>

    <fieldset>
        <div>
            <textarea autofocus
                      required
                      @bind="EditingTextToTweet" @bind:event="oninput"></textarea>
        </div>

        <div id="char-counter" class="@GetCharCounterCssClass()">
            @(MaxTweetChar - CharCount)
        </div>
    </fieldset>

    <footer class="col2">
        <button type="button" @onclick="OnClickOK" disabled="@IsInvalidForm()">OK</button>
        <button type="button" class="cancel" @onclick="OnClickCancel">Cancel</button>
    </footer>

</form>

@code
{
    private const int MaxTweetChar = 280;

    private const int WarningTweetChar = 20;

    [Parameter]
    public string TextToTweet { get; set; } = "";

    private string EditingTextToTweet = null;

    private string OriginalTextToTweet = null;

    [Parameter]
    public Func<string, Task> OnOK { get; set; }

    private bool IsOverflowTweetChars => this.CharCount > MaxTweetChar;

    private IJSInProcessRuntime JSInProcess;

    private MessageBox MessageBox;

    private string LastCharCountedText = null;

    private int _CharCount = 0;

    private int CharCount
    {
        get
        {
            if (LastCharCountedText != this.EditingTextToTweet && this.EditingTextToTweet != null)
            {
                // Regex class of .NET running on mono.wasm is very slow,
                // therefore, use the power of the JavaScript via JSInterop.
                var translated = this.JSInProcess.Invoke<string>("sanitizeUrl", EditingTextToTweet);

                var n = 0;
                var enumerator = StringInfo.GetTextElementEnumerator(translated);
                while (enumerator.MoveNext())
                {
                    var text = enumerator.GetTextElement();
                    n += (text.Length == 1 && ((int)text[0]) < 256) ? 1 : 2;
                }
                this._CharCount = n;
                this.LastCharCountedText = this.EditingTextToTweet;
            }
            return this._CharCount;
        }
    }

    protected override void OnInitialized()
    {
        this.JSInProcess = this.JS as IJSInProcessRuntime;
        this.EditingTextToTweet = this.TextToTweet;
        this.OriginalTextToTweet = this.TextToTweet;
    }

    public string GetCharCounterCssClass()
    {
        var leftChar = (MaxTweetChar - this.CharCount);
        return leftChar <= 0 ? "reach-limited" : leftChar <= WarningTweetChar ? "warning" : "";
    }

    private bool IsInvalidForm()
    {
        return string.IsNullOrEmpty(this.EditingTextToTweet) || this.IsOverflowTweetChars;
    }

    private async Task OnClickOK()
    {
        await this.OnOK?.Invoke(this.EditingTextToTweet);
    }

    public async Task OnClickCancel()
    {
        if (this.EditingTextToTweet != this.OriginalTextToTweet)
        {
            var res = await this.MessageBox.Show(
                caption: "Cancel",
                message: "The message text has changed.\nAre you sure you want to discard this change?",
                buttons: new[] { "Yes", "No" }
            );
            if (res != "Yes") return;
        }
        this.GoBack();
    }

    private void GoBack()
    {
        this.NavigationManager.NavigateTo("/list-of-editmode");
    }
}
