@attribute [Authorize]
@inject HttpClient HttpClient

<TweetDialog @ref="TweetDialog" />

<ReservedTweetsList CssClass="tweet-index" Filter="@((SelectableReservedTweet t) => !t.IsTweeted)" OnClickTweet="OnClickTweet">
    <BeforeList>
        <div class="guide">
            <div class="text">
                Open menu and click "Edit..." to reserve messages to tweet after.
            </div>
        </div>
    </BeforeList>
</ReservedTweetsList>

@code
{
    [CascadingParameter]
    private UIContext UIContext { get; set; }

    private TweetDialog TweetDialog;

    protected override void OnInitialized()
    {
        this.UIContext.SetMenuItem(new MenuItem { Caption = "Edit...", Url = "/list-of-editmode" });
    }

    private async Task OnClickTweet(ReservedTweet tweet)
    {
        var posted = await this.TweetDialog.OpenAndPost(tweet);
        if (posted)
        {
            tweet.IsTweeted = true;
            await this.HttpClient.PutJsonAsync($"/api/reservedtweets/{tweet.Id}", tweet);
            this.StateHasChanged();
        }
    }
}

