@attribute [Authorize]
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@inject ReservedTweets.ReservedTweetsClient ReservedTweetsClient

<TweetDialog @ref="TweetDialog" />

<ReservedTweetsList CssClass="tweet-index" Filter="@((SelectableReservedTweet t) => !t.Message.IsTweeted)" OnClickTweet="OnClickTweet">
    <BeforeList>
        <div class="guide">
            <div class="text">
                @Localized.Guide_in_Home
            </div>
        </div>
    </BeforeList>
</ReservedTweetsList>

@code
{
    [CascadingParameter]
    private UIContext UIContext { get; set; }

    private Localized Localized = new Localized();

    private TweetDialog TweetDialog;

    protected override async Task OnInitializedAsync()
    {
        this.UIContext.PageTitle = () => AppInfo.AppTitle;
        this.Localized = await I18nText.GetTextTableAsync<Localized>(this);
        this.UIContext.SetMenuItem(new MenuItem { Caption = () => Localized.GotToEdit, Url = "/list-of-editmode" });
    }

    private async Task OnClickTweet(SelectableReservedTweet tweet)
    {
        var posted = await this.TweetDialog.OpenAndPost(tweet.Message);
        if (posted)
        {
            tweet.Message.IsTweeted = true;
            await this.ReservedTweetsClient.UpdateAsync(tweet.Message);
            this.StateHasChanged();
        }
    }
}

