@attribute [Authorize]
@inject HttpClient HttpClient

<ul class="reserved-tweets">
    @foreach (var tweet in this.ReservedTweets)
    {
        <li>
            <a>
                @(new MarkupString(tweet.TextToTweet.Replace("\n", "<br />")))
            </a>
        </li>
    }
</ul>

@code
{
    [CascadingParameter]
    private UIContext UIContext { get; set; }

    private ReservedTweet[] ReservedTweets = new ReservedTweet[0];

    protected override async Task OnInitializedAsync()
    {
        this.UIContext.SetMenuItem(new MenuItem { Caption = "Edit...", Url = "/list-of-editmode" });

        this.ReservedTweets = await this.HttpClient.GetJsonAsync<ReservedTweet[]>("/api/reservedtweets");
    }
}

