<Dialog @ref="Dialog" OnClickScreenMask="OnClickScreenMask">
    <Caption>
        @Caption
    </Caption>
    <Body>
        <span style="white-space:pre-line;">@Message</span>
    </Body>
    <Action>
        @foreach (var button in this.Buttons)
        {
            <button type="button" @onclick="@(()=> OnClickButton(button))">
                @button
            </button>
        }
    </Action>
</Dialog>

@code
{
    private Dialog? Dialog;

    private string Caption = "";

    private string Message = "";

    private string[] Buttons = new string[0];

    public async Task<string> Show(string caption, string message, string[] buttons)
    {
        if (this.Dialog == null) throw new NullReferenceException();

        this.Caption = caption;
        this.Message = message;
        this.Buttons = buttons;
        this.StateHasChanged();

        var result = await this.Dialog.Show() as string;

        this.StateHasChanged();

        return result ?? "";
    }

    private void OnClickButton(string button)
    {
        if (this.Dialog == null) throw new NullReferenceException();
        this.Dialog.Close(button);
    }

    public Task OnClickScreenMask()
    {
        if (this.Dialog == null) throw new NullReferenceException();
        this.Dialog.Close(this.Buttons.Last());
        return Task.CompletedTask;
    }
}