<div class="summary">
    This application is designed for tweeting during a presentation by speaker oneself.
</div>

<div class="quick-tour">
    <ol>
        <li>Sign in with Twitter.</li>
        <li>Reserve messages.</li>
        <li>Tap to tweet the message that was reserved <strong>during your presentation!</strong></li>
    </ol>
</div>

<div id="sign-in">
    <a href="auth/signin" target="_top">Sign In with Twitter</a>
</div>

<div class="social-buttons">

    <span id="powered-by-azure" class="powered-by">
        <img src="https://portal.azure.com/favicon.ico" />
        Hosted by <a href="https://azure.microsoft.com/services/app-service/web/" target="_blank">Microsoft Azure Web Apps</a>
    </span>
    |
    <span id="powered-by-aspnet" class="powered-by">
        <img src="https://dotnet.microsoft.com/favicon.ico" width="16" height="16" />
        Powered by <a href="https://asp.net/" target="_blank">ASP.NET Core</a> and
        <img src="/css/images/blazor.png" style="width:20px; height:20px;" />
        Powered by <a href="https://blazor.net/" target="_blank">Blazor WebAssembly App</a>.
    </span>
    |
    <span id="sourcecode-by-github" class="powered-by">
        <img src="https://github.com/favicon.ico" width="16" height="16" />
        Source code is <a href="https://github.com/jsakamoto/tap-to-tweet-reserved" target="_blank">GitHub</a>
    </span>
    |
    <TwitterShareButton Text="Tweet during your session! - Tap To Tweet Reserved" />
</div>

@code
{
    [CascadingParameter]
    private UIContext UIContext { get; set; }

    protected override void OnInitialized()
    {
        this.UIContext.PageTitle = AppInfo.AppTitle;
    }
}