@inject HttpClient HttpClient

<div>
    <input @bind="Text" />
</div>
<div>
    <button @onclick="OnSubmit">submit</button>
</div>

@code
{
    private string Text;

    private async Task OnSubmit()
    {
        Console.WriteLine("Post tweet...");
        await HttpClient.PostJsonAsync("api/tweet", new Tweet { Message = Text });
        Console.WriteLine("Complete!");
    }
}