.dialog-holder {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .screen-mask {
        z-index: 110;
        position: fixed;
        border: solid 1px red;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        opacity: 0.0;
        transition: opacity linear 0.2s;
    }

    .dialog {
        z-index: 120;
        background-color: #222;
        width: 90%;
        max-width: 480px;
        box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.4);
        border-radius: 10px;
        opacity: 0.0;
        margin-bottom: -50vh;
        transition: all ease-out 0.2s;

        .caption {
            color: #ccc;
            font-size: 120%;
            font-weight: bold;
            padding: 12px 12px 8px 12px;
        }

        .body {
            color: #ccc;
            padding: 4px 12px;
            word-break: break-all;
            max-height: 200px;
            overflow: hidden;
        }

        .action {
            display: flex;

            button {
                width: 100%;
                height: 52px;
                color: #aaa;
                background-color: #222;
                border: none;
                border-top: solid 1px #666;
                border-left: solid 1px #666;
                margin-top: 20px;

                &:first-child {
                    border-bottom-left-radius: 10px;
                    border-left: none;
                }

                &:last-child {
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}

.dialog-holder.visible {
    pointer-events: all;

    .screen-mask {
        opacity: 0.2;
    }

    .dialog {
        opacity: 1.0;
        margin-bottom: 0;
        transition: all ease-out 0.2s;
    }

    .action button.hidden {
        visibility: hidden;
    }
}
