@import '_constants.scss';

.languages {
    color: #888;
    margin: auto;
    height: $languages-bar-height;
    font-size: 0;
    text-align: right;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: $reserved-tweets-max-width;
    padding-right: 10px;

    a, span {
        font-size: 14px;
    }

    .material-icons {
        font-size: 22px;
    }

    * {
        vertical-align: middle;
    }

    $lang-width: 78px;

    a {
        display: inline-block;
        padding: 0;
        width: $lang-width;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    .current-lang-marker {
        position: absolute;
        display: block;
        height: 4px;
        width: $lang-width;
        background-color: #666;
        bottom: 0;
        right: 0;
        transition: right ease-out 0.2s;
    }
}
