@import '_constants.scss';

.languages-bar {
    --langcode-width: 78px;
    --langcode-margin: 10px;
    color: #888;
    margin: auto;
    font-size: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $languages-bar-height;
    max-width: $reserved-tweets-max-width;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a, span {
        font-size: 14px;
    }

    .material-icons {
        font-size: 22px;
    }

    .languages {
        position: relative;

        a {
            display: inline-block;
            padding: 0;
            width: var(--langcode-width);
            height: 40px;
            line-height: 40px;
            text-align: center;
        }

        .current-lang-marker {
            position: absolute;
            display: block;
            height: 4px;
            width: var(--langcode-width);
            background-color: #666;
            bottom: 0;
            right: 0;
            transition: left ease-out 0.2s;
        }
    }
}
