@import '_constants.scss';

* {
    font-size: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

a, button {
    color: inherit;
    cursor: default;
    transition: color linear 0.2s;

    &:hover {
        color: #fff;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    position: relative;
    height: 100%;
}

body, textarea {
    font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3rem;
    display: block;
    background-color: #222;
    color: #aaa;
    border-bottom: solid 1px #333;
    z-index: 10;

    .menu-holder {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        max-width: $reserved-tweets-max-width;
    }

    .menu {
        display: inline-block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        width: 32px;
        height: 32px;
        overflow: hidden;
    }

    nav {
        position: absolute;
        /* border: solid 1px red; */
        /* z-index: 10; */
        background-color: #222;
        top: 48px;
        margin: 0;
        right: 0;
        box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.4);
        height: 0;
        overflow: hidden;

        div {
            text-align: right;
            margin-left: 1em;
            margin-right: 1em;

            a {
                height: 2em;
                line-height: 2em;
                display: inline-block;
                color: #aaa;
                text-decoration: none;
            }
        }
    }

    &.expand-menu nav {
        height: auto;
    }
}

h1 {
    color: #ccc;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    font-size: 120%;
}

.body-wrapper {
    position: absolute;
    top: 3rem;
    bottom: 0;
    max-width: $reserved-tweets-max-width;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #222;
}

/* guide for beginners ----------------------------------------------------*/
.guide {
    margin: 10px;
    padding: 0;
    color: #fff;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity linear 0.5s;
    max-width: 80%;

    .text {
        padding: 1em;
        background-color: #0674c3;
    }

    .tweets-loaded & {
        opacity: 1;
    }

    .tweets-exists & {
        opacity: 0;
        visibility: hidden;
    }

    &:after {
        content: ' ';
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: #0674c3;
        z-index: -1;
        transform: rotate(90deg) skewX(45deg);
    }
}

.tweet-index .guide {
    right: 0;
    top: 26px;

    &:after {
        top: -9px;
        right: 24px;
    }
}

.editor-index .guide {
    left: 0;
    bottom: 92px;

    &:after {
        bottom: -9px;
        left: 57px;
    }
}

/* ----------------------------------------------------*/


.reserved-tweets {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    bottom: $languages-bar-height;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333;

    li {
        position: absolute;
        height: 5rem;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-bottom: solid 1px #333;
        border-top: solid 1px #888;
        background-color: #444;
        overflow: hidden;
        transition: top linear 0.2s;

        .tweeted-mark {
            display: block;
            background-color: #0674c3;
            color: #ccc;
            text-align: center;
            font-size: 13px;
            height: 22px;
            line-height: 22px;
            width: 145px;
            right: -44px;
            position: absolute;
            transform: rotate(-46deg);
            top: 40px;
            pointer-events: none;
            opacity: 0;
            transition: opacity linear 0.2s;
        }
    }

    a {
        font-size: 90%;
        display: block;
        color: #aaa;
        text-decoration: none;
        overflow: hidden;
        position: absolute;
        top: 8px;
        left: 8px;
        bottom: 8px;
        right: 8px;

        &.current {
            color: #fff;
        }
    }
}

/* form ----------------------------------------------------*/
form fieldset {
    border: none;
    margin: 1em;
    padding-top: 1em;
}

.field-validation-error {
    display: inline-block;
    color: #ffd800;
    margin-top: 0.5em;
    font-size: 80%;
}

.field-validation-error:before {
    content: "* ";
}

/* footer editor menu 
----------------------------------------------------*/
footer {
    background-color: #222;
    position: absolute;
    width: 100%;
    bottom: $languages-bar-height;
    padding: 0;
    display: block;
    height: $actions-footer-height;

    a,
    input[type=submit],
    button {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        color: #aaa;
        text-decoration: none;
        padding: 0.3em 0.5em 0.3em 0.5em;
        display: inline-block;
        background-color: transparent;
        border: none;
        transition: color linear 0.2s;

        &:hover {
            color: #fff;
        }

        &[disabled] {
            color: #666;
            cursor: default;
        }
    }

    &.no-selected-any a.selected-only,
    &.no-selected-tweeted a.selected-tweeted-only {
        color: #444;
        cursor: default;
    }
}

footer.col6 {
    display: flex;
    justify-content: space-between;

    a {
        padding-top: 10px;
        width: 100%;
        text-align: center;

        .material-icons {
            display: block;
        }

        .help-text {
            display: block;
        }
    }
}

footer.col2 {
    white-space: nowrap;
    font-size: 0;

    a, input[type=submit], button {
        width: 50%;
        height: 62px;
        font-size: 1rem;

        &:first-child {
            border-right: solid 1px #666;
        }
    }
}

textarea {
    display: block;
    width: 100%;
    height: 10em;
    padding: 10px;
    font-size: 90%;
}

/* editor
----------------------------------------------------*/
.editor-index {
    .reserved-tweets {
        bottom: $languages-bar-height + $actions-footer-height;

        li {


            &:before {
                content: ' ';
                display: block;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border: solid 3px #0674c3;
                pointer-events: none;
                opacity: 0;
                transition: opacity linear 0.2s;
            }

            &.tweeted .tweeted-mark {
                opacity: 1;
            }

            &.selected:before {
                opacity: 1;
            }
        }

        a {
            user-select: none;
            cursor: default;
        }
    }
}

textarea {
    background-color: #555;
    color: #ccc;
}

#char-counter {
    margin-top: 0.3em;
    text-align: right;
    color: #aaa;
    font-size: 80%;

    &.warning {
        color: #ffd800;
        font-weight: bold;
    }

    &.reach-limited {
        color: #ff6a6a;
        font-weight: bold;
    }
}

@import 'languages.scss';
@import 'dialog.scss';
@import 'about-box.scss';
@import 'material-icons.scss';
