#sign-in {
    margin: 1em 1em 1em 1em;
}

    #sign-in a {
        color: #ccc;
        background-color: #0674c3;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 150%;
        padding: 0.5em;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
    }

        #sign-in a:hover {
            color: #fff;
        }

.summary,
.quick-tour {
    color: #ccc;
    font-size: 110%;
}

.summary {
    margin: 3em 1em 0.5em 1em;
    padding-bottom: 0.5em;
    border-bottom: solid 1px #888;
}

.quick-tour ol {
    margin: 0;
}

.social-buttons {
    margin: 3em 1em 0.3em 1em;
    padding-top: 0.5em;
    line-height: 30px;
    color: #888;
    border-top: solid 1px #888;
}

.powered-by,
.powered-by * {
    color: #888;
}

.powered-by {
    font-size: 80%;
}
