* {
    font-size: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
    margin: 3em 0 0 0;
    padding: 0;
    background-color: #555;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    display: block;
    background-color: #222;
    overflow: hidden;
    border-bottom: solid 1px #333;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

    header .menu {
        display: inline-block;
        position: absolute;
        top: 1em;
        right: 0.5em;
    }

    header.expand-menu {
        height: 7em;
    }

    header * {
        color: #aaa;
        text-decoration: none;
    }

    header nav {
        margin-top: 0.7em;
    }

        header nav div {
            text-align: right;
            margin-right: 1em;
        }

h1 {
    color: #ccc;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    font-size: 120%;
}

.reserved-tweets {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .reserved-tweets li {
        padding: 0;
        margin: 0;
        border-bottom: solid 1px #333;
        border-top: solid 1px #888;
        background-color: #444;
    }

    .reserved-tweets a {
        font-size: 90%;
        display: block;
        height: 5.5em;
        padding: 8px;
        color: #aaa;
        text-decoration: none;
        overflow: hidden;
    }

        .reserved-tweets a.current {
            color: #fff;
        }

/* form 
----------------------------------------------------*/
form fieldset {
    border: none;
    margin: 1em;
    padding-top: 1em;
}

.field-validation-error {
    display: inline-block;
    color: #ffd800;
    margin-top: 0.5em;
    font-size: 80%;
}

    .field-validation-error:before {
        content: "* ";
    }

/* footer editor menu 
----------------------------------------------------*/
body.editor-index {
    margin-bottom: 4em;
}

footer {
    background-color: #222;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0;
    display: block;
    height: 4em;
}

    footer a, footer input[type=submit] {
        color: #aaa;
        text-decoration: none;
        padding: 0.3em 0.5em 0.3em 0.5em;
        display: inline-block;
        background-color: transparent;
        border: none;
    }

        footer a:hover,
        footer input[type=submit]:hover {
            color: #fff;
        }

    footer.col2 a, footer.col2 input[type=submit] {
        width: 48%;
    }


textarea {
    display: block;
    width: 100%;
    height: 10em;
}

/* editor
----------------------------------------------------*/
.editor-index .reserved-tweets a {
    padding-left: 24px;
}

.reserved-tweets a.tweeted-is-true {
    background-image: url(images/tweeted-mark.png);
    background-repeat: no-repeat;
    background-position: 0px 6px;
}

.reserved-tweets a.selected {
    border: solid 3px #0674c3;
    padding: 5px 5px 5px 21px;
    background-position: -3px 3px;
}

footer.no-selected-tweets a.selected-only {
    color: #444;
    cursor: default;
}

#char-counter {
    margin-top: 0.3em;
    text-align: right;
    color: #aaa;
    font-size: 80%;
}

    #char-counter.overflow {
        color: #ffd800;
    }
