﻿<form>

    <fieldset>
        <div>
            <textarea autofocus
                      required
                      ng-model="ctrl.tweet.TextToTweet"></textarea>
        </div>

        <div id="char-counter" ng-class="{overflow:ctrl.overflow}">
            {{ctrl.charCount}}
        </div>
    </fieldset>

    <footer class="col2">
        <button ng-click="ctrl.ok()" ng-disabled="editForm.$invalid || ctrl.overflow">OK</button>
        <button class="cancel" ng-click="ctrl.goBack()">Cancel</button>
    </footer>

</form>
