@{
    ViewBag.Title = "Edit Reserved Tweets";
    ViewBag.BodyClass = "editor-index";
}
@section nav{
    <div>
        @Html.ActionLink("Home", "Index", "Home")
    </div>
}

<div ng-app="app">
    <div ng-view>
        <!-- view -->
    </div>
</div>

@section Scripts {
    <script src="~/Views/Editor/Editor.js"></script>
}
