@{
    ViewBag.Title = "Edit Reserved Tweets";
    ViewBag.BodyClass = "editor-index";
}
@section nav{
    <div>
        @Html.ActionLink("Home", "Index", "Home")
    </div>
}

<div ng-view>
    <!-- view -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    <script src="~/Views/Editor/Editor.js"></script>
}
