@model TapToTweetReserved.Models.HomeViewModel
@{
    ViewBag.Title = "Tap To Tweet Reserved";
    ViewBag.BodyClass = "home-index";
}
@section nav{
    <div>
        @Html.ActionLink("edit...", "Index", "Editor")
    </div>
}

<ul class="reserved-tweets">
    @foreach (var tweet in Model.ReservedTweets)
    {
        <li>
            <a href="#" data-id="@tweet.Id">
                @Html.Raw(HttpUtility.HtmlEncode(tweet.TextToTweet).Replace("\n","<br />"))
            </a>
        </li>
    }
</ul>

@section Scripts {
    <script src="~/Scripts/HomeIndex.js"></script>
}
